body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #782F40;
    padding: 1.5em;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #CEB888;
    font-weight: bold;
}

main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1em;
    text-align: left;
}

th {
    background-color: #782F40;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
    font-weight: bold;
    color: #333;
}

form input[type="text"], form input[type="password"] {
    width: calc(100% - 2em);
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    width: auto;
    padding: 0.7em 1.5em;
    margin-top: 1em;
    background-color: #782F40;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #CEB888;
}
